/*
-----------------------------------------
Compamy card
-----------------------------------------
*/

.card-company{
    color: $color-alpha;
    text-align: center;
    position: relative;

    &__header{
        h3{
            text-transform: uppercase;
            font-weight: 700;
        }
        margin-bottom: rem(20px);
    }
    @include respond-below(lg){
            margin-bottom: rem(20px);
            padding-bottom: rem(20px);
            &:after{
                content: '';
                position: absolute;
                height: rem(1px);
                width: rem(35px);
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                background-color: $color-gamma;
            }
    }
}

/*
-----------------------------------------
Industry Card
-----------------------------------------
*/
.industry-card{
    background-color: $color-alpha;
    color: $color-beta;
    padding: rem(15px) rem(25px);
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;

    &:not(:last-child){
        margin-bottom: rem(10px);
    }
}

/*
-----------------------------------------
Service Card
-----------------------------------------
*/
.service-card{
    display: flex;
    flex-direction: column;

    &__img{
        margin-bottom: rem(30px);

        @include respond-below(md){
            img{
                display: block;
                margin: 0 auto;
            }
        }
    }

    &__title{
        margin-bottom: rem(30px);
        h3{
            text-transform: uppercase;
            color: $color-gamma;
        }

        @include respond-below(lg){
            margin-bottom: rem(20px);
        }
    }

}
