/*
-----------------------------------------
Hero
-----------------------------------------
*/
.hero{
    margin-top: -#{rem($header-height)};
    height: 100vh;
    width: 100vw;
    position: relative;
    $self: &;
    &__content{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        transform: translate(-50%,-50%);
        color:$white;
        padding: 0 rem(15px);
        text-align: center;
        #{$self}__title{
            margin-bottom: rem(50px);
            h1{
                font-size: rem(100px);
                text-transform: uppercase;
                @include respond-below(lg){
                    font-size: rem(60px);
                }
            }
        }
        #{$self}__desc{
            color:$color-alpha;
            h2{
                font-size: rem(40px);
                line-height: 40px;
            }
        }
        
    }

    &__img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        img{
            object-fit: cover;
            height: 100%;
            width: 100%;
        }

        &:before{
            content:'';
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba($black, 0.4);
        }
    }
}