.section{
    padding: rem(50px) 0 ;
    @include respond-below(lg){
        padding: rem(30px) 0 ;
    }
    &__header{
        margin-bottom: rem(30px);
        h2{
            color: $black;
            font-weight: 700;
        }
    }

    &__body{
        padding: 0 rem(20px);
    }


}